{% extends "base.html" %}
{% block content %}

<head>
    <title>Illegal Access :(</title>
</head>

    <div class="unicorn"></div>
    <div class="container">
        <div class="five-oh-two"><h1>502 Error</h1></div>
        <div class="warning">
            <h2>"All those moments will be lost in time, like tears in rain."</h2>
            <p>Database Error request the Admin if you are the Authorized User of the Account..</p>
            <a href="{{ url_for('index') }}">Please go back to Home page</a>
        </div>
    </div>

{% endblock %}
