{% extends 'base.html' %}
{% block content %}

    <head>
    <title>Forgot password</title>

    <style>
    .brred{
        display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #f10505;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ee082e;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    }
        .pass_show{position: relative}

        .pass_show .ptxt {

        position: absolute;

        top: 50%;

        right: 10px;

        z-index: 1;

        color: #f36c01;

        margin-top: -10px;

        cursor: pointer;

        transition: .3s ease all;

        }

        .pass_show .ptxt:hover{color: #333333;}

    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>


    <div class="container" style="align-items: center;display: contents">
	<div class="row">
            <div class="col-md-4 col-md-offset-4"></div>
		<div class="col-md-4 col-md-offset-4" style="margin-top: 5%;">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><svg xmlns="http://www.w3.org/2000/svg" width="25%" height="25%" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
</svg></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">

                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                        {{ form.hidden_tag() }}

                            <div class="form-group" id="hideotpfield">
                            <label>OTP</label>
                                {% with message = get_flashed_messages() %}
                                    {% if message and "invalid_otp" in message %}
                                        {{ form.otp(class="form-control", placeholder="OTP") }}
                                        <p style="color: red;">Invalid OTP</p>
                                    {% else %}
                                        {{ form.otp(class="form-control", placeholder="OTP") }}
                                    {% endif %}
                            {% endwith %}<br>
                            <div id="OTP-btn" class="form-group">
                                <button name="verify-otp" class="btn btn-lg btn-primary btn-block" onclick="verify()">Verify OTP</button>
                            </div>
                            </div>
                    <div id="hidepass">
                               <label>New Password</label>
                            <div class="form-group pass_show">
                                {{ form.password(class="form-control", placeholder="New Password") }}
                            </div>
                               <label>Confirm Password</label>
                            <div class="form-group pass_show">
                                {{ form.confirm(class="form-control", placeholder="Confirm Password") }}
                            </div>
                            <div class="form-group">
                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                            </div>
                         </div>
                      <input type="hidden" class="hide" name="token" id="token" value="">
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>

    <script>

        $(document).ready(function(){
        $('.pass_show').append('<span class="ptxt">Show</span>');
        });


        $(document).on('click','.pass_show .ptxt', function(){

        $(this).text($(this).text() == "Show" ? "Hide" : "Show");

        $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; });

        });
    </script>

    <script>
    $('#hidepass').hide();
    let otp_field = document.getElementById('otp');
    let original_otp = {{ otp }};
    let otp_data = original_otp.toString();

    console.log({{ otp }})
    function verify(){
        console.log("function called")
        console.log(otp_field.value)
        console.log(otp_data)

    if(otp_field.value === otp_data) {
        console.log("otp valid")
        $('#hideotpfield').hide();
        $('#OTP-btn').hide();
        $('#hidepass').show();
    }
    else {
        var element = document.getElementById("otp");
        element.classList.add("brred");
        element.classList.remove("form-control")
    }
    }
    </script>
{% endblock %}