
<head>
  <title>DoctorX | HOME</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% extends "base.html" %}
{% block content %}


<style>
    contact{
        background-color: #c7c7c7;
    }
    h3{
        text-align: left;
    }
</style>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Welcome To DoctorX</h1>
      {% if current_user.is_authenticated %}
        <a style="color: black;" type="button"  href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a style="color: black;" type="button"  href="{{ url_for('login') }}">Sign In</a>&emsp;&emsp;
        <a style="color: black;" type="button" href="{{ url_for('register') }}">Sign Up</a>

      {% endif %}
  </div>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <h3>Address</h3>
      <p>Swing by for a cup of coffee, or whatever.</p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Chicago, US</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +00 1515151515</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  test@test.com</p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" method="post">
      <div class="w3-section">
        <label>{{ form.name.label }}</label> {{ form.name(class="form-control") }}
      </div>
      <div class="w3-section">
        <label>{{ form.email.label }}</label> {{ form.email(class="form-control") }}
      </div>
      <div class="w3-section">
        <label>{{ form.subject.label }}</label> {{ form.subject(class="form-control") }}
      </div>
{#          {{ form.submit(class='btn btn-dark w3-right') }}#}
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
      </form>
    </div>
  </div>
</div>

    <!--contact form ending-->


{% endblock %}