
<head>
  <title>DoctorX | HOME</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Welcome To DoctorX</h1>
      {% if current_user.is_authenticated %}
        <a type="button"  href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a type="button"  href="{{ url_for('login') }}">Sign In</a>&emsp;&emsp;
        <a type="button" href="{{ url_for('register') }}">Sign Up</a>
      {% endif %}
  </div>
</div>


{% endblock %}