<head>
      <title>DoctorX | Login Page</title>
</head>
{% extends "base.html" %}
{% block content %}

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong style="color: red; font-size: 25px"> x </strong>Login Unsuccessful</h4>
        </div>
        <div class="modal-body">
          <p>Invalid username / Password</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


      <!-- Toast-->
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
    <div class="toast-header">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FF0000" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
  <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
  <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
</svg>&nbsp;&nbsp;&nbsp;
      <strong class="mr-auto"> Login Required</strong>
      <small>Now</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
        <strong style="color:#bb0808">Permission denied!</strong> Please login first...
    </div>
  </div>
</div>

  <main class="body10">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <h2><img src="../static/images/logo.png" alt="logo" class="logo">DoctorX</h2>
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Log in</h1>
            <form method="post">
                {{ form.hidden_tag() }}
              <div class="form-group">
                    {% if not login_success %}
                        <table style="color:red;">
                            <tr><td>Invalid username/password!<td></tr>
                        </table><br>
                    {% endif %}
                <label for="email">{{ form.email.label }}</label>
                  {{ form.email(class="form-control", placeholder="Enter your Email") }}
              </div>
              <div class="form-group mb-4">
                <label for="password">{{ form.password.label }}</label>
                  {{ form.password(class="form-control", placeholder="Enter your passsword") }}
              </div>
            {{ form.remember() }} {{ form.remember.label }}
                {{ form.submit(class="btn btn-block user-login-btn") }}
            </form>
            <a href="#" class="forgot-password-link">Forgot password?</a>
            <p class="login-wrapper-footer-text">Don't have an account? <a href="{{ url_for('register') }}" class="text-reset">Register here</a></p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="../static/images/login.jpg" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>


{% if permission %}
    <script>
        $('#liveToast').toast('show')
    </script>
{% endif %}

{% endblock %}
