{% extends "base.html" %}
{% block content %}

<head>
	<title>Sign Up</title>

    <link rel="stylesheet" href="../static/css/signup_style.css">
</head>
<body class="form-v7">

	<div class="page-content">
		<div class="form-v7-content">
			<div class="form-left">
				<img src="../static/images/form-v7.jpg" alt="form">
				<p class="text-1">Sign Up</p>
			</div>
			<form class="form-detail" method="post" id="myform">
                {{ form.hidden_tag() }}
				<div class="form-row">
					<label for="username">{{ form.username.label }}</label>
                    {{ form.username(class="input-text") }}
                    {% with message = get_flashed_messages() %}
                        {% if message and 'username' in message %}
                            <strong style="color:#d20000">Username already taken!</strong>
                        {% endif %}
                    {% endwith %}

				</div>
				<div class="form-row">
					<label for="your_email">{{ form.email.label }}</label>
                    {{ form.email(class="input-text") }}
                    {% with message = get_flashed_messages() %}
                        {% if message and 'username' in message %}
                            <strong style="color:#d20000">Email already registered!</strong>
                        {% endif %}
                    {% endwith %}
				</div>
				<div class="form-row">
					<label for="password">{{ form.password.label }}</label>
                    {{ form.password(class="input-text") }}
                    {% with message = get_flashed_messages() %}
                        {% if message and 'password' in message %}
                            <strong style="color:#d20000">Please provide strong password!</strong>
                        {% endif %}
                    {% endwith %}
				</div>
				<div class="form-row">
					<label for="comfirm_password">{{ form.confirm.label }}</label>
                    {{ form.confirm(class="input-text") }}
				</div>

                <div class="form-row">
					<label for="You_are">{{ form.choice.label }}</label>&emsp;
                    {{ form.choice(class="drop-down") }}
				</div>
				<div class="form-row-last">
{#                    {{ form.submit(class="register") }}#}
                    <input type="submit" class="register">
					<p>Or<a href="{{ url_for('login') }}">Sign in</a></p>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
