<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>User Profile</title>
<link rel="stylesheet" href="../static/css/PQ_style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body><center>
<br><h1><img src="../static/images/logo.png" alt="logo" class="logo" >DoctorX</h1>
<h3>&emsp;Fill your Personal Details</h3>
</center>
<div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Q. which option best describes your job role?</b></div>

    <div class="d-flex align-items-center pt-3">
        <div id="prev"> <button class="btn btn-primary">Previous</button> </div>
        <div class="ml-auto mr-sm-5"> <button class="btn btn-success">Next</button> </div>
    </div>
</div>

</body>
</html>